@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Calibri" !important;
}
:root {
  --primary-color: #0e1630; /* Replace #FF0000 with your desired color value */
  --secondary-color: #1d6eb7; /* Replace #FF0000 with your desired color value */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0 !important;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body {
  background-color: #e7e7e7 !important;

  color: black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.dlink {
  text-decoration: none !important;
  color: #03a9f3 !important;
}

.data-table-extensions-filter {
  border: 0.5px solid #eee;
  padding: 2px;
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
}

.first {
  padding-right: 10px !important;
}

.filter-text {
  border: none !important;
  width: 80%;
}

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
}

.opt-container {
  @apply flex justify-between gap-2;
}
.opt-container input {
  @apply !mr-0 flex-1 py-5 outline-none;
}
.container-2 {
  position: relative;
}

/* Animation  */

.SetupSection {
  opacity: 0;
  visibility: hidden;
  animation: animateSetup 0.5s forwards;
}

@keyframes animateSetup {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}

.envelope-main {
  position: absolute;
  display: inline-block;
  height: 155px;
  width: 200px;
  background: #0060ff;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 5px solid #014fcc;
  z-index: 0;
}

.envelope-left {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-left: 100px solid #3e84f7;
  margin: 0 auto;
  left: -100px;
  right: 0;
  z-index: 2;
}

.envelope-right {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-right: 100px solid #3e84f7;
  margin: 0 auto;
  left: 100px;
  right: 0;
  z-index: 2;
}

.envelope-bottom {
  position: absolute;
  display: inline-block;
  height: 80px;
  width: 200px;
  background: #3178ef;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  top: 75px;
}

.envelope-top {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 90px solid #0060ff;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 3;

  transform-origin: top center;
}

.transform {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#doc {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  left: 150px;
  right: 0;
  z-index: 1;
  top: 75px;
}

.foldy {
  animation-name: foldUp;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes foldUp {
  0% {
    transform: rotateX(0deg);
  }
  30% {
    transform: rotateX(180deg);
    z-index: 0;
  }
  70% {
    transform: rotateX(180deg);
  }
}

.gone {
  animation-name: goneLeft;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes goneLeft {
  0% {
    top: 75px;
  }
  20% {
    top: -170px;
  }
  30% {
    top: -170px;
    left: 180px;
  }
  50% {
    top: -170px;
    left: -200px;
  }
  60% {
    top: -170px;
  }
  100% {
    top: -170px;
    left: 200%;
  }
}

.button-2 {
  position: relative;
  display: block;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #eee;
  color: black;
  border: 2px solid 0060ff;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 200px;
  transform: scale(1);
}

.button-2:hover {
  background-color: 0060ff;
  color: white;
}

button:focus {
  outline: 0;
}

button:active {
  outline: 0;
  transform: scale(0.85);
}
#svgContainer {
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(70deg, #f0f0f0 10%, #ffffff 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#svgContainer svg {
  width: 20% !important;
}

.datePicker-tailwind-css button {
  margin: 0 5px !important;
  transform: scale(0.9em);
  margin-left: 2px;
}
.datePicker-tailwind-css button:disabled {
  background: #e0e0e0 !important;
  border: 2px solid white !important;
  color: rgb(188, 186, 186) !important;
  text-decoration: none;
  border-radius: 50%;

  transition: box-shadow 0.2s ease-in-out;
  outline: none;
}
.rbc-month-view {
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-top: none !important;
  padding: 0px 10px !important;
}
.rbc-month-header {
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
}
.hell {
  background-color: #0060ff;
}
